div{
	border-width: 10px 10px 10px 10px; /* Top, right, bottom, left */
	border-width: 10px 5px 10px; /* top (right / left) bottom */
	border-width: 10px 10px; /* (top / bottom) (right / left) */
	border-width: 10px; /* (top / right / bottom / left) */
}