@charset "UTF-8";

@font-face{
	font-family: 'sports-world';
	src:url('../font/Sports World-Regular.ttf');
}
body{
	font-family: calibri, sans-serif;
}
p{	
	font-size: 15px;
	font-style: oblique;
}
h1{
	font-family: sports-world; 
	font-size: 50px;
	color: #597800;
}
.negrito{
	font-weight: bold;
}

