@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	color: #333;
}
.container{
	margin-left: 200px;
	margin-top: 0px;
}

.bloco{
	width: 250px;
	height: 450px;
	border: solid 1px #e1e1e1;
	overflow: hidden;
	margin-top: 100px;
	margin-left: 50px;
	font-family: Arial;
	font-size: 12px;
	background-color: rgba(16,16,16,0.8);
	color:#e1e1e1;
}

