@charset "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	min-width: 960px;
	background: #181514;
}

.fundo{
	width: 100%;
	min-height: 900px;
	height: auto;
	background: url("../images/bg-fundo.png") center 0 no-repeat #110e0e;
}
header{
	height: 100px;
	background-color: rgba(18,15, 14,0.8);	
}
